*{
    padding: 0px;
    margin: 0px;
    color: white;
}

span{
    color: orange;
}

.logo{
    margin: 20px 50px;
    transition: .4s;
    font-size: 50px;

}

.logo:hover{
    transform: scale(1.5);
}
.block-title h1{
    font-size: 40px;
    text-align: center;
    font-weight: bold;

}

header{
    display: flex;
    width: 100%;
    height: 75px;
    justify-content: space-between;
    background-color:  #242c3c;
}

header a{
    text-decoration: none;
}

header ul{
    display: flex;
    justify-content: right;
}

header ul a{
    padding-top: 20px;
    font-size: 75%;
    background-color: #242c3c;
    color: black;
}


header ul a:hover{
    background-color: #3CC0DE;
}

header ul a:active{
    background-color: rgba(60, 192, 222, 0.1);
}


li{
    margin: 0.75rem;
    list-style: none;
    background-color: transparent;
}

.block-home{
    width: 100%;
    height: 100%;
    padding-top: 5%;
    padding-bottom: 15%;
    text-align: center;
    background-color:  #242c3c;
}

.text-description{
    margin-top: 50px;
    margin-left: 50px;
    font-size: 15px;
}

.block-person{
    width: 60%;
    text-align: justify;
    margin: 0%, 0%, 3%, 2%;
    display: inline-block;

}

.block-img-person{
    display: inline-block;
    width: 20%;
    margin-left: 0%;
}

.img-person{
    width: 70%;
    display: inline-block;
    border-style: solid;

}

.section-two{
    background-color: white;
    width: 100%;
    height: auto;
    padding-bottom: 7%;
}

.text-likes{
    width: 100%;
    text-align: center;
}

.text-likes h1{
    background-color: white;
    color: #242c3c;
    font-size: 40px;
    font-weight: bold;
    margin-top: 5%;
}

.p-likes{
    background-color: white;
    color: #242c3c;
    font-size: 15px;
    text-align: justify;
    font-family: 'Trebuchet MS';
    margin-top: 5%;
    margin-left: 3%;
    width: 50%;
    display: inline-block;

}
.block-p{
    background-color: white;
    padding-top: 30px;
    padding-left: 100px;
}


.section-knowledge{
    width: 100%;
    text-align: center;
    background-color: #242c3c;
    padding-bottom: 5%;
}

.section-knowledge h1{
    padding-top: 5%;
    font-size: 40px;
    font-weight: bold;
}
.contact{
    width: 100%;
    text-align: center;
    background-color: #242c3c;
}
.contact h1{
    font-size: 20px;

}

.contact .imgs{
    display: flex;
    justify-content: center;
}

.contact img{
    background-color: transparent;

    width: 75px;
    transition: .4s;
}
.contact img:hover{
    transform: scale(1.5);
}

.progress{
    display: flex;
    overflow: hidden;
    text-align: center;
    background-color: #e9ecef;
    border-radius: 0.35rem;
    width: 100%;
}
.bar-progress-80{
    width: 80%;
    animation: progress80 1.8s;
}

@keyframes progress80 {
    from {width: 0%;}
    to {width: 80%;}
}

.bar-progress-90{
    width: 90%;
    animation: progress90 2s;
}

@keyframes progress90 {
    from {width: 0%;}
    to {width: 90%;}
}

.bar-progress-100{
    width: 100%;
    animation: progress100 2s;
}

.bar-progress{
    height: 1rem;
    background-color: #3CC0DE;
}

.text-knowledge{
    text-align: start;
    font-size: 15px;
    margin-top: 20px;
}

@keyframes progress100 {
    from {width: 0%;}
    to {width: 100%;}
}

h2{
    font-size: 20px;
    margin-top: 50px;
    text-align: start;
}

.img-likes{
    background-color: white;
    margin-left: 0px;
    width: 300px;
}
.content-two{
    background-color: white;
    width: 100%;
    height: 40vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.languages-skills{
    display: inline-block;
    margin-right: 2%;
    width: 300px;
}

.tech-skills{
    display: inline-block;
    margin-right: 2%;
    width: 300px;
}

.life-skills{
    display: inline-block;
    width: 300px;

}


